* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart,
.presentation {
  display: flex;
}

.logo-container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 5px;
  font-weight: 400;
}

nav {
  flex: 2.5;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.cart img,
.logo-container img,
.logo {
  cursor: pointer;
}

.cover img {
  height: 60vh;
}

.presentation {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin: 5px;
  font-size: 22px;
  color: #585772;
}
.cover {
  flex: 1;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #c36cbb;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 30px 0px 0px 30px;
}
