* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 5px;
  font-weight: 400;
}

nav {
  flex: 2.5;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.cart img,
.logo-container img,
.logo {
  cursor: pointer;
}
