* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart,
.presentation {
  display: flex;
}

.logo-container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 5px;
  font-weight: 400;
}

nav {
  flex: 2.5;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.cart img,
.logo-container img,
.logo {
  cursor: pointer;
}

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

.presentation {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin: 5px;
  font-size: 22px;
  color: #585772;
}
.cover {
  flex: 1;
  height: 60vh;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #c36cbb;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin: 30px 0px 0px 30px;
}

/* images */

.big-circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.med-circle {
  position: absolute;
  right: 30%;
  top: 30%;
  z-index: -2;
  opacity: 0.4;
  height: 60%;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
  opacity: 0.6;
}

.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 962px) {
  .cta-add {
    margin-left: 0px;
  }
}

@media screen and (max-width: 787px) {
  .presentation {
    flex-direction: column;
    justify-content: center;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }

  .laptop-select {
    bottom: 2%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 2%);
  }

  .cover img {
    margin-right: 0;
    padding-right: 0;
    height: 80%;
  }

  .small-circle,
  .med-circle,
  .big-circle {
    opacity: 0.2;
  }
}
